.header {
  background-color: #f3cfa7;
  font-family: sans-serif;
  font-size: 30px;
  height: 100px;
  position: fixed; /* For a stickey header */
  top: 0;
  z-index: 200;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
}
.header_body {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header-cart {
  cursor: pointer;
  align-self: center;
  position: relative;
}

.header_cart-qty {
  position: absolute;
  font-size: 14px;
  background-color: #f68b1e;
  top: -10px;
  right: -15px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}

.header_cart-qty:hover {
  background-color: #a86929;
  color: #fff;
  transition: all 200ms;
}
.header_title {
  align-self: center;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}
.header_title:hover {
  color: #a86929;
  transition: color 200ms;
}

.header_cart-text {
  position: absolute;
  bottom: 10px;
  right: -35px;
  font-size: 16px;
  color: black;
  font-weight: 700;
}
.header_cart-text:hover {
  color: #f68b1e;
  transition: color 200ms;
}

@media (max-width: 768px) {
  .header_body {
    width: 85%;
  }
  .header_title span {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .header-cart {
    margin-right: 20px;
  }
  .header_body {
    width: 92%;
  }

  .header-cart {
    width: 50px;
    height: 50px;
  }
  .header_cart-text {
    display: none;
  }
}
